// variables.scss

// Цвета
$background-color: #e5ebf2;
$color-text-main: #171c28;
$background-color: rgba(229, 235, 242, 1);
$color-black: rgba(0, 0, 0, 1);
$color-accent: rgba(0, 183, 199, 1);

// Цвета для тем
$color-dark: #171c28;
$color-light: #e5ebf2;

// Настройки для светлой темы (по умолчанию)
:root {
  --color-text-main: #{$color-dark};
  --background-color: #{$color-light};
}

// Настройки для темной темы
.dark-theme {
  --color-text-main: #{$color-light};
  --background-color: #{$color-dark};
}

// Шрифты
$font-family-default: "Roboto", "Arial", sans-serif;
$font-family-inter: "Inter", sans-serif;
$font-family-roboto: "Roboto", sans-serif;

// Брейкпоинты
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

// Медиа выражения
@mixin mobile {
  @media (min-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
