// Переменные для цветов и отступов
$gap-small: 10px;
$gap-large: 5px;

.header {
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $gap-small;
    justify-content: space-between; // для маленьких экранов и выше
  }

  &__logo {
    font-size: 14px;
  }

  &__theme-toggle,
  &__button {
    font-size: 14px;
  }

  &__nav {
    margin-top: $gap-small;

    &-list {
      display: flex;
      gap: $gap-large;
      list-style: none; // Убираем маркеры списка
      padding-left: 0;

      /* stylelint-disable-next-line max-nesting-depth */
      &-item {
        /* stylelint-disable-next-line max-nesting-depth */
        &-link {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

// Медиа-запрос для экранов до 320px (колоночный макет только для навигации)
@media (max-width: 320px) {
  .header__nav {
    &-list {
      flex-direction: column; // Навигация в колонку
      gap: $gap-small; // Меньшие отступы для компактного вида
    }
  }
}

// Медиа-запрос для экранов от 768px и выше
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__top {
      flex: 1;
      justify-content: flex-start;
      gap: $gap-large;
    }

    &__nav {
      margin-top: 0; // Убираем отступ сверху
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
}
