.header {
  padding: 12px 20px;
  background-color: $background-color;

  &__nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
  }

  &__nav-link {
    font-family: $font-family-inter;
    font-weight: 500;
    font-size: 20px;
    color: $color-black;
    text-decoration: none;
  }
}
