.page {
  &__wrapper {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.content-wrapper {
  transition: transform 0.3s ease-out;
  background-color: $background-color;
  position: relative;
  z-index: 999;

  &.nav-open {
    transform: translateY(135px);
  }
}
