.page {
  &__wrapper {
    width: 100%;
    padding: 0 calc(20px + (220 - 20) * ((100vw - 320px) / (1920 - 320)));
    box-sizing: border-box;
  }
}

.content-wrapper {
  transition: transform 0.3s ease-out;
  background-color: $background-color;
  position: relative;
  z-index: 999;

  &.nav-open {
    transform: translateY(-24px);
  }
}
