:root {
  --project-block-bg: #f0f0f0;
  --project-block-bg-hover: #e0e0e0;
  --project-block-width: 270px;
  --project-block-height: 179px;
  --project-link-color: #00b7c7;
  --color-light: #ffffff;
}

.projects {
  margin-bottom: 60px;

  &__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 46px;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 120%;
      height: 3px;
      background-color: #00b7c7;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__block {
    background-color: var(--project-block-bg);
    width: var(--project-block-width);
    height: var(--project-block-height);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: #00b7c7 solid 1px;
    transition: transform 0.3s, box-shadow 0.3s;

    @media (max-width: 768px) {
      width: 80%;
      height: auto;
      min-height: var(--project-block-height);
      cursor: pointer;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 44%;
      height: auto;
      min-height: var(--project-block-height);
    }

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
      z-index: 1000;
    }

    &:hover .projects__popup h3,
    &:hover .projects__popup p {
      font-size: 12px;
    }
  }
}

.projects__popup {
  display: flex;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  will-change: opacity, transform;

  h3,
  p,
  .projects__cta {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s;
  }

  h3 {
    font-size: 12px;
    margin-bottom: 5px;
    transition-delay: 0.1s;
    color: var(--color-light);
  }

  p {
    margin-bottom: 10px;
    transition-delay: 0.2s;
  }

  .projects__cta {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 12px;
    background: #00b7c7;
    color: $color-dark;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    text-decoration: none;
    transition-delay: 0.4s;

    &:hover {
      background: #0095a8;
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;

    h3,
    p,
    .projects__cta {
      opacity: 1;
      transform: translateY(0);
      color: ffffff;
    }

    .projects__cta {
      letter-spacing: 1px;
      font-size: 14px;
    }
  }

  .projects__popup-title {
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .projects__popup-description {
    padding: 10px;
  }
}

@media (min-width: 320px) {
  .projects__popup {
    visibility: visible;
  }

  .projects__block:hover {
    background-color: var(--project-block-bg-hover);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .projects__block:hover .projects__popup {
    opacity: 1;
  }

  .projects__block:hover .projects__popup h3,
  .projects__block:hover .projects__popup p,
  .projects__block:hover .projects__popup .projects__cta {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects__block img[alt] {
  color: #00b7c7;
}

.projects__block img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: top;
}

@media screen and (min-width: 1024px) {
  .projects__block {
    width: calc(var(--project-block-width) * 1.4); /* Увеличение ширины на 20% */
    height: calc(var(--project-block-height) * 1.4); /* Увеличение высоты на 20% */
  }

  .projects__block img {
    width: calc(var(--project-block-width) * 1.4); /* Масштабирование изображения */
    height: calc(var(--project-block-height) * 1.4); /* Масштабирование изображения */
  }
}

@media screen and (min-width: 1440px) {
  .projects__block {
    width: calc(var(--project-block-width) * 1.2 * 1.2); /* Увеличение ширины на 20% */
    height: calc(var(--project-block-height) * 1.2 * 1.2); /* Увеличение высоты на 20% */
  }

  .projects__block img {
    width: calc(var(--project-block-width) * 1.2 * 1.2); /* Масштабирование изображения */
    height: calc(var(--project-block-height) * 1.2 * 1.2); /* Масштабирование изображения */
  }
}
