.skills {
  padding-top: 50px;
  margin-bottom: 40px;

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;

    /* stylelint-disable-next-line max-nesting-depth */
    @media screen and (min-width: 768px) {
      text-align: start;
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1024px) {
      margin-bottom: 0;
      margin-left: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 120%;
      height: 3px;
      background-color: #00b7c7;
    }

    @media screen and (min-width: 1024px) {
      &::after {
        display: none;
      }
    }
  }

  &__container {
    position: relative;
    background-color: #112b3a;
    padding: 15px;
    border-radius: 20px;

    // Стили для разрешения 768px и выше
    @media screen and (min-width: 768px) {
      background-color: transparent; // Убираем фон
      margin-left: 10px;

      /* stylelint-disable-next-line max-nesting-depth */
      &::before {
        content: "";
        position: absolute;
        top: 25px;
        left: -7px;
        transform: translateX(-50%);
        width: 2px;
        height: 95%;
        background:
          linear-gradient(180deg,
          #7c72ff,
          #5f9ae8,
          #0078d4,
          #6caea3,
          #bf4080,
          #cf4647,
          #e44d26,
          #f44e27,
          #fbbc04);
        background-size: 100% 300%; /* Увеличиваем размер фона для эффекта анимации */
        animation: gradient-animation-vertical 10s ease infinite;

        /* stylelint-disable-next-line max-nesting-depth */
        @keyframes gradient-animation-vertical {
          /* stylelint-disable-next-line max-nesting-depth */
          0% {
            background-position: 0% 0%;
          }

          /* stylelint-disable-next-line max-nesting-depth */
          50% {
            background-position: 0% 100%;
          }

          /* stylelint-disable-next-line max-nesting-depth */
          100% {
            background-position: 0% 0%;
          }
        }
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;

    @media screen and (min-width: 1024px) {
      gap: 0;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__block {
    flex: 1;
    padding: 7px;
    border-radius: 15px;
    text-align: center;
    min-height: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 768px) {
      cursor: default;

      &:hover {
        box-shadow: none;
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 600;
      margin: 0;
      line-height: 1.4;
      color: $color-text-main;

      @media screen and (min-width: 768px) {
        /* stylelint-disable-next-line max-nesting-depth */
        &.dark-theme {
          color: $color-light; // Цвет для темной темы
        }
      }

      /* stylelint-disable-next-line max-nesting-depth */
      @media screen and (min-width: 768px) {
        text-align: start;
      }

      /* stylelint-disable-next-line max-nesting-depth */
      @media screen and (min-width: 1024px) {
        font-size: 16px;
      }
    }

    &--html-css {
      background-color: #df9477;

      /* stylelint-disable-next-line max-nesting-depth */
      @media screen and (min-width: 768px) {
        background-color: transparent; // Убираем фон для html-css
      }
    }

    &--javascript {
      background-color: #f8e23a;

      /* stylelint-disable-next-line max-nesting-depth */
      @media screen and (min-width: 768px) {
        background-color: transparent; // Убираем фон для javascript
      }
    }

    &--vscode {
      background-color: #38afff;

      /* stylelint-disable-next-line max-nesting-depth */
      @media screen and (min-width: 768px) {
        background-color: transparent; // Убираем фон для vscode
      }
    }

    &--gulp {
      background-color: #e39292;

      /* stylelint-disable-next-line max-nesting-depth */
      @media screen and (min-width: 768px) {
        background-color: transparent; // Убираем фон для gulp
      }
    }

    &--sass {
      background-color: #cc6699;

      /* stylelint-disable-next-line max-nesting-depth */
      @media screen and (min-width: 768px) {
        background-color: transparent; // Убираем фон для sass
      }
    }

    &--nodejs {
      background-color: #339933;

      /* stylelint-disable-next-line max-nesting-depth */
      @media screen and (min-width: 768px) {
        background-color: transparent; // Убираем фон для nodejs
      }
    }

    &--github-git {
      background: #7c72ff;

      /* stylelint-disable-next-line max-nesting-depth */
      @media screen and (min-width: 768px) {
        background-color: transparent; // Убираем фон для github-git
      }
    }
  }

  &__list {
    margin: 0;
    max-height: 0; /* Начальное состояние - скрыто */
    padding: 0 5px; /* Убираем отступы */
    overflow: hidden; /* Скрыть переполнение */
    text-align: start;
    padding-left: 20px;
    opacity: 0;
    transition: max-height 0.8s ease-in-out, opacity 1s ease; /* Плавный переход */
    pointer-events: none;

    // Стили для разрешения 768px и выше
    @media screen and (min-width: 768px) {
      margin-left: 20px;
      max-height: 500px; /* Устанавливаем максимальную высоту */
      opacity: 1; /* Делаем видимыми */
      pointer-events: auto; /* Включаем события мыши */
      line-height: 23px;
    }
  }

  &__list.show {
    opacity: 1;
    pointer-events: auto;
    max-height: 500px; /* Максимальная высота при раскрытии */
  }

  @media screen and (max-width: 767px) {
    &__list-item {
      color: $color-text-main;
    }
  }
}
