.skills {
  margin-bottom: 40px;

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 120%;
      height: 3px;
      background-color: #00b7c7;
    }
  }

  &__container {
    background-color: #112b3a;
    padding: 15px;
    border-radius: 20px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__block {
    flex: 1;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    min-height: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    &-title {
      font-size: 18px;
      font-weight: 600;
      margin: 0;
      line-height: 1.4;
      color: $color-text-main;
    }

    &--html-css {
      background-color: #df9477;
    }

    &--javascript {
      background-color: #f8e23a;
    }

    &--vscode {
      background-color: #38afff;
    }

    &--gulp {
      background-color: #e39292;
    }

    &--sass {
      background-color: #cc6699;
    }

    &--nodejs {
      background-color: #339933;
    }

    &--github-git {
      background: #7c72ff;
    }
  }

  &__list {
    max-height: 0; /* Начальное состояние - скрыто */
    padding: 0 5px; /* Убираем отступы */
    overflow: hidden; /* Скрыть переполнение */
    text-align: start;
    padding-left: 20px;
    transition: max-height 0.8s ease; /* Плавный переход */
  }

  &__list.show {
    max-height: 500px; /* Максимальная высота при раскрытии */
  }
}
